body {
  background-color: #B2EBF2; }

html {
  font-family: Roboto, sans-serif; }

.main__wrapper {
  background-color: #FAFAFA;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 33%;
  min-width: 400px;
  height: 800px;
  margin: 50px auto; }

.form__wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
  align-items: center;
  padding: 20px 30px; }

.form__header {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  height: 75px;
  background-color: #311B92;
  color: #fff;
  box-shadow: 0px 2px 3px #616161; }

.form__description {
  width: 85%;
  text-align: center;
  min-width: 300px;
  margin-bottom: 40px; }
